@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

.Foto {
  width: 150px;
  height: 150px;
  /* left: 40px;
  top: 43px; */
  border-radius: 50%;
}

.MeuNome {
  font: 600 1rem Raleway;
  /* font-family: Raleway;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px; */
  text-align: center;

  color: #000000;
}

.Sobre {
  font: 400 0.8rem Raleway;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -10px;
  color: #000000;
}
